[submodule "Pelinjan/vendor/spdlog"]
	path = Pelinjan/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pelinjan/vendor/GLFW"]
	path = Pelinjan/vendor/GLFW
	url = https://github.com/TheCherno/glfw
